__pycache__
label_cleaning/*
cifar100/*
cifar10/*
classifier_crossmodel/CIFAR10_DM
classifier_crossmodel/model_weight
classifier_crossmodel/CIFAR10_DM_index_files
classifier_crossmodel/Archive
classifier_crossmodel/CIFAR100_DM
classifier_crossmodel/CIFAR100_DM_index_files
classifier_coreset_cifar10/CIFAR10_Syn_Coreset_v0
classifier_coreset_cifar10/coreset_index_v0
classifier_coreset_cifar10/CIFAR10_Syn_Coreset
classifier_coreset_cifar10/CIFAR100_DM
classifier_coreset_cifar10/coreset_index_cifar100
classifier_coreset_cifar100/CIFAR100_DM
classifier_coreset_cifar100/coreset_index_cifar100

